<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments :: header">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<nav th:insert="navbar-fragment:: navbar"></nav>

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1><p class="text-center">Browser</p></h1>
    <br>
    <br>
    <br>
    <br>
    <div class="row-cols-1">
        <input class="text-center form-control" type="text"/>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col text-center"><button class="btn btn-success">Search Resource</button> </div>
        <div class="col text-center"><button class="btn btn-success">Complete Search</button> </div>
    </div>
</div>


</body>
</html>