<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: header">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<nav th:insert="navbar-fragment:: navbar"></nav>

<br>
<br>
<br>

<div class="container">
    <h4>Delete Resource</h4>
    <hr>
    <form th:action="@{/delete-resource}" method="post"  >
        <div>
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Resource to delete: </label>
                <div class="col-8">

                    <input class="form-control"
                           type="text"
                           name="name"
                           id="name"
                           placeholder="www.domain.com/resource/to/delete.png">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-primary">
                    Delete Resource
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>